* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colors: (description: #D4D4D4,
    icons: #000,
);

@function color($basicColors) {
    @return map-get($map: $colors, $key:$basicColors)
}

body {
    height: 100%;
}

.bgc {
    position: relative;
    overflow: hidden;

    img {
        height: calc(100vh);
        background-image: url(../images/bgc_snow_color.jpg) no-repeat cover center/cover;
    }
}

nav,
header,
footer {
    position: absolute;
    z-index: 1;
}