@font-face {
    font-family: 'Helvetica_New_Design_Bold';
    src: url('../fonts/HelveticaNowDisplay-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Helvetica_New_Design_Regular';
    src: url('../fonts/HelveticaNowDisplay-Regular.ttf');
    font-weight: 600;
}

$colors: (description: #D4D4D4,
    icons: #000,
    menu-background: #fff);


@function color($basicColors) {
    @return map-get($map: $colors, $key:$basicColors)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    color: color(description);
}

body {
    height: 100%;
    font-family: 'Helvetica_New_Design_Bold', sans-serif;
    overflow: hidden;

}

.home_wrap {
    overflow: hidden;
    height: 100%;

    img {
        position: relative;
        top: 0;
        left: -110%;
        overflow: hidden;
        transform: scale(1.1);
        height: 100vh;
        background-color: black;
        filter: blur(20px);
        z-index: -1;
    }

}

.social-square {
    background-color: color(menu-background);
    position: fixed;
    top: 0;
    left: 0;
    height: 37px;
    width: 155px;
    border: 0;
    border-bottom-right-radius: 20px;

    .social {

        position: relative;
        height: 37px;
        width: 155px;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            transform: translate(-50%, -52%);
            font-size: 12px;
            letter-spacing: 6.06px;
            text-indent: 7px;
        }
    }
}


.navigation-square {
    background-color: color(menu-background);
    position: fixed;
    top: 0;
    right: 0;
    height: 37px;
    width: 155px;
    border-bottom-left-radius: 20px;

    .burger {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0%, -50%);



        .short-line {
            position: relative;
            background-color: color(icons);
            right: -50px;
            height: 1px;
            width: 25px;
            margin: 5px;
        }

        .middle-line {
            position: relative;
            background-color: color(icons);
            right: -25px;
            height: 1px;
            width: 50px;
            margin: 5px;
        }

        .long-line {
            background-color: color(icons);
            height: 1px;
            width: 75px;
            margin: 5px;
        }

    }

}

.navigation {
    display: none;
}


nav,
header,
footer {
    position: absolute;
    // top: 0;
    z-index: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 40%;

    .name {
        h1 {
            font-size: 41px;
            line-height: 57px;
            text-indent: 23px;
            letter-spacing: 24.35px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .surname {
        h1 {
            font-size: 41px;
            line-height: 57px;
            text-indent: 26px;
            letter-spacing: 24.35px;
            text-align: center;
            text-transform: uppercase;
        }
    }


    h2 {

        padding-top: 60px;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 10.1px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Helvetica_New_Design_Regular', sans-serif;
    }

}



footer {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -10%);
    color: color(description);
}